                                    /* CONFIGURAÇÃO DO CABEÇALHO */
header {
    background: linear-gradient(120deg, #202020, #202020, #0187a7, #202020, #202020, #202020, #202020, #202020, #202020, #202020, #202020);
    box-shadow: 0px 3px 10px #ff0077;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.80rem;
    font-weight: 400;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    font-size: 1.80rem;
    color: #fff;
    font-weight: 400;
}

.nav-link:hover {
    border-bottom: #ff0077;
}

.nav-link:hover {
    border-bottom: 3px solid #ff0077;
}
.logo-img img {
    position: relative;
    animation: logoMove 2s infinite linear;
 
 }
 
 @keyframes logoMove {
    0%   {left: 0px;}
    50%  {left: 60px;}
    100% {left: 0px;}
  }

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 900px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .logo-img {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1.2rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
}